body {
	text-align: center;
	background: #b8b894;
	background-image: url("images/mtg-background1.jpg");
	background-repeat: repeat;
	width: 600px;
}

h3, h1, p {
	color: #ffffff;
}

h3 {
	margin: 0 auto;
	padding-top: 10px;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 auto;
}

li {
	font-weight: "bold";
}

nav {
	display: inline;
	float: left;
	width: 200px;
	border: 2px solid black;
}

a:link {
	color: #e6ccb3;
}

a:visited {
	color: #d2a697;
}

#menu {
	padding: 5 0 5 0;
}

#deck-list {
	padding: 6 0 0 0;
	text-align: left;
}

#desc {
	width: 500px;
	margin: 0 auto;
}

#commander a {
	color: #ffcc00;
}

#commander-image {
	height: 300px;
	width: 220px;
	float: right;
	margin: 0 auto;
	padding: 0 10 0 10;
}
