/* ****************** */
/* *******TAGS******* */
/* ****************** */

body {
	text-align: center;
	background: #b8b894;
	background-image: url("images/mtg-background.jpg");
	background-repeat: repeat;
	width: 600px;
	margin-bottom: 100px;
}

header {
	position: relative;
}

h3, h1, p {
	color: #ffffff;
}

h3 {
	margin: 0 auto;
	padding-top: 10px;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 auto;
}

li {
	font-weight: "bold";
}

a {
	text-decoration: none;
}

nav {
	width: 200px;
	border: 2px solid black;
}

nav a {
	color: black;
}

nav li {
	background-color: #3399ff;
	border: 1px solid black;
}

/* ****************** */
/* *****CLASSES****** */
/* ****************** */

.absolute {
	position: absolute;
	top: 0;
	left: 300px;
}

.display {
	position: fixed;
	left: 58px;
	top: 20px;
}

.fixed {
	position: fixed;
	top: 45px;
	left: 308px;
}

.hidden {
	position: fixed;
	left: -400px;
}

.menu {
	padding: 5 0 5 0;
	width: 400px;
	border: 1px solid black;
}

.menu img {
	height: 75px;
	width: 100px;
	border: 1px solid white;
	float: left;
}

.menu li {
	display: block;
	width: 100%;
	height: 77px;
	border: 1px solid black;
}

.menu a:link {
	color: #ffffff;
}

.menu a:visited {
	color: #d9d9d9;
}

.menu a {
	font-size: 20px;
	margin: auto;
}

.rotate {
	transform: rotate(360deg);
}

/* ****************** */
/* *******IDS******** */
/* ****************** */

#deck-list a:link {
	color: #e6ccb3;
}

#deck-list a:visited {
	color: #d2a697;
}

#nav-button {
	height: 50px;
	width: 50px;
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border-radius: 50%;
	transition: all .5s ease;
}

#active {
	background-color: #ccccff;
}

.active {
	color: #ccccff;
}

#commander-image {
	height: 300px;
	width: 220px;
	float: right;
	padding: 0 10 0 10;
	border-radius: 10px;	
}

#commander a {
	color: #ffcc00;
}

#desc {
	width: 500px;
	margin: 0 auto;
}

#deck-list {
	padding: 6 0 0 0;
	text-align: left;
	position: relative;
}

#nav {
	list-style-type: none;
	border: 1px solid black;
	z-index: 3;
}

#nav a {
	display: block;
}
