body {
	text-align: center;
	background: #b8b894;
	background-image: url("images/mtg-background1.jpg");
	background-repeat: repeat;
	width: 600px;
	margin-bottom: 100px;
}

header {
	position: relative;
}

h3, h1, p {
	color: #ffffff;
}

h3 {
	margin: 0 auto;
	padding-top: 10px;
}

#nav-button {
	height: 50px;
	width: 50px;
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 auto;
}

li {
	font-weight: "bold";
}

nav {
	width: 200px;
	border: 2px solid black;
}

#deck-list a:link {
	color: #e6ccb3;
}

#deck-list a:visited {
	color: #d2a697;
}

nav a {
	color: black;
}

nav li {
	background-color: #3399ff;
	border: 1px solid black;
}

#active {
	background-color: #ccccff;
}

.hidden {
	position: fixed;
	left: -400px;
}

.display {
	position: fixed;
	left: 58px;
	top: 20px;
}

.menu {
	padding: 5 0 5 0;
}

.menu a:link {
	color: #ffffff;
}

.menu a:visited {
	color: #d9d9d9;
}

.menu a {
	font-size: 20px;
}

#nav {
	list-style-type: none;
	border: 1px solid black;
	z-index: 3;
}

#nav a {
	display: block;
}

.active {
	color: #ccccff;
}

#button {
	color: #6b6b47;
}

#desc {
	width: 500px;
	margin: 0 auto;
}

#commander a {
	color: #ffcc00;
}

#deck-list {
	padding: 6 0 0 0;
	text-align: left;
	position: relative;
}

.absolute {
	position: absolute;
	top: 0;
	left: 300px;
}

.fixed {
	position: fixed;
	top: 45px;
	left: 308px;
}

#commander-image {
	height: 300px;
	width: 220px;
	float: right;
	padding: 0 10 0 10;
}
